Flask==2.3.3
Flask-JSGlue==0.3.1
pymongo==4.5.0
python-dotenv==1.0.0
tensorflow==2.16.1
Pillow==10.0.1
numpy==1.26.4
opencv-python==4.8.1.78
ultralytics==8.0.196
requests==2.31.0
Werkzeug==2.3.7
bson==0.5.10
gunicorn==21.2.0
